/*################# defaults  ###########*/
nav,header,footer {
    display: block;

}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   line-height: 1.5;
   margin: 0;  
   font-family: 'Poppins', sans-serif;
 }
  
.hero {
   margin: 0;
   padding: 0;
   background: url(./images/portrait-of-a-beautiful-african-woman-with-laptop-on-grey-backround-copy-space.jpg);
   width: 100%;
   height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.row {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.row::after {
   display: table;
   clear: both;
   content: "";
}

.col-1 {width: 8.33%};
 .col-2 {width: 16.66% ;}
 .col-3 {width: 25% ;}
 .col-4 {width: 33.33% ;}
 .col-5 {width: 41.66% ;}
 .col-6 {width: 50% ;}
 .col-7 {width: 58.33% ;}
 .col-8 {width: 66.66%}
 .col-9 {width: 75%}
 .col-10 {width: 83.33% ;}
 .col-11 {width: 91.66% ;}
 .col-12 {width: 100% ;}
     



/*################# nav bar ###########*/
li {
   list-style: none;
}

a{
   text-decoration: none;
   color: black;
   font-size: 1rem;
}

a:hover {
   color: orange;
   
}
 
.navbar {
   width: 100%;
   height: 60px;
   max-width: 1200px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .logo a {
   font-size: 1.5rem;
   font-weight: bold;
   color: red;
}
.navbar .topnav {
   display: flex;
   gap: 2rem;
}

.navbar .action_btn {
   color: black;
   font-size: 1rem;
   cursor: pointer;
   
}
.toggle_btn{
   display: none;
}
.action_btn {
   background-color: orange;
   color: black;
   padding: 0.5rem 1rem;
   border: none;
   outline: none;
   border-radius: 20px;
   font-size: 0.8rem;
   font-weight: bold;
   cursor: pointer;
   transition: scale .2 ease;
}
.action_btn:hover {
   scale: 1.05;
   color: white;
}
.action_btn:active {
   scale:0.95;
}


/***** drop down menu *****/
.dropdown_menu {
   display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   width: 300px;
   background:rgb(252, 252, 252,0.1);
   backdrop-filter: blur(5px);
   height: 0;
   border-radius: 10px;
   overflow: hidden;
   transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open  {
   height: 295px;
}

.dropdown_menu li {
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dropdown_menu .action_btn {
   width: 100%;
   display: flex;
   justify-content: center;
}
/***** styles ****/
.col-6, .col-12,.col-4
{
   width: 100%;
   height: 100%;
   
}
div.leftside-col {
   margin-top: 5%;
   margin-left: 5%;
}
.first{
   font-family: Arial, Helvetica, sans-serif;
   -webkit-text-stroke: 2px black;
   font-size: 150px;
   color: white;
   font-weight: bolder;
   margin-bottom: -60px;
   margin-top: 2%;
}
.second{
margin-top: -50px;
font-size: 90px;
}
.third{
   margin-top: -50px;
font-size: 100px;
margin-left: 3%;
z-index: -1;
}
.third::before{
   content: '~';
   color: red;
   
}



button {
   margin-top: 10px;
   margin-bottom: 100px;
   margin-left: 15%;
   font-size: 20px;
   background-color: red ;
   color: white;
   padding:10px 20px  ;
   border: none;
   outline: none;
   border-radius: 5px;
   font-weight: bold;
   cursor: pointer;
   transition: scale .2 ease;
}

.button:hover {
   scale: 1.05;
   color: black;
}
.button:active {
   scale:0.95;
}

 .subheader1 {
   margin-top: 50px;
   color: red;
   font-size: small;
   text-align: center;
 }
.subheader2 {
   text-align: center;
}

.postcard-container{
   display: flex;
   justify-content: space-between;
}

.postcard {
   width: calc(33.33% -10px);
   border: 1px solid #ccc;
   margin: 20px;
   padding: 10px;
   display: inline-block;
   vertical-align: top;
}
.postcard img {
   width: 100%;
   height: 50%;
}
.postcard h2 {
   margin-top: 10px;
   font-size: 24px;
 text-align: center;
}

.postcard p {
   font-size: 18px;
   line-height: 1.5;
   margin-top: 10px;
}

/****** mobile responsive design****/
@media(max-width: 992px){
.navbar .topnav, .navbar .action_btn {
   display: none;
}
.navbar .toggle_btn {
   display: block;
}
.dropdown_menu {
   display: block;
}


}
@media(max-width: 576px){
  
   .dropdown_menu {
      left: 2rem;
      width: unset;
      
   }
   .container {
      position: relative;
   }
   
   .first {
      font-size:80px ;
      font-weight: bold;
      
   }
   .second{
      color: red;
      font-size: 70px ;
      margin-top: 40px;
      font-weight: 300px;
   }
   .third{
      font-size:60px ;
      margin-top: -30px;
      color: red;
      font-weight: 300px;
   }
   .third::before{
      content: '~';
      color: black;
      
   }
   }
/***** styles ****/
